[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
jinja2 = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"
pylint = "*"
isort = "*"
black = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.10"
